<%- model_class = ReviewRequest -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render 'index' %>

<%= button_to 'New Review Request ', new_review_request_path, class: 'btn btn-primary', method: :get %>
